/* Media Queries */
@media only screen and (max-width: 768px) {
    .navbar {visibility: hidden;}
}

@media only screen and (max-width: 991px) {
    
    html {overflow-x: hidden}
    
    div.navbar-right {
        display: block;
        position: absolute;
        margin-left: 405px;
    }
    
    div.logo {
        margin: 0 420px;
        margin-top: -30px;
        margin-bottom: 25px;
    }
    
    div.search-box {
        width: 400px;
        margin: 0 320px;
    }
    
    div.store-status-icons {
        display: block;
        left: -110px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    
    div.store-status-icons i {font-size: 17px;}
    
    nav#menu .navbar-nav a {
        font-size: 12pt;
    }
    
    nav#menu .navbar-nav a:last-child {
        padding-right: 0;
    }
    
}

@media only screen and (max-width: 1170px) {
    
    .container {width: 1170px;}
    
    .container-fluid {width: 100%;}
    
}

@media only screen and (max-width: 1200px) {
    
    .container {width: 1170px;}
    
    .carousel-caption {
        margin-left: -15px;
    }
    
}