// General styling

li {
	list-style: none;
}

// top-header bar style


nav.navbar{
	margin-bottom: 0;
}

nav.navbar-inverse {
	min-height: 10px;
	max-height: 55px;
	margin-bottom: 0;
	background-color: #fff;
	border-color: #cecece;
}

ul.menu-top-header {
	list-style: none;
}

li.mth-item {
	margin-top: 10px;
}

// Carousel 

div.carousel {
	background: #eee;
}

div.item img.carousel-bg {
	max-height: 600px;
	width: 100%;
}

div.carousel-caption {
	position: absolute;
	text-align: left;
}

// Info section style

div.list-group {
	padding: 10px 15px;
}

a.list-group-item {
	margin-bottom: 0;
	margin-left:-15px;
	margin-right: 0;
	padding: 5px 35px;
}

a.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

a#left-radius {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

a#right-radius {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

// Frames

div#prod-frame {
	padding: 0;
}

div.img-frame {
	width: 480px;
	height: 200px;
	padding: 10px 10px 5px 20px;
	background-color: #eee;
}

div.img-frame img {
	float: left;
}

// Products Top box style

div#custom-carousel {
	padding-top: 40px;
}

div#custom-carousel .controls li {
    max-width: 100px
}

div#custom-carousel .controls li.active {
    border-bottom: 5px solid #ffcc00;
}

div#custom-carousel .controls a {
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}

div#custom-carousel .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: left;
    position: relative;
    
}

div.carousel #trail {
	color: #777;
	margin: 0;
	padding: 0;
}

div.carousel-inner #box-grid {
	padding: 0;
	margin: 0;
}

div#custom-carousel .item {
    padding: 10px 0;
}

div#custom-carousel .item p,b {
	color: #3498db;
}

div#custom-carousel .item h6 {
	color: #888;
}

div.carousel-inner #cart-item-dicount {
	padding-left: 30%;
}

div.carousel-inner #cart-item-999p {
	padding-left: 50%;
}

div.carousel-inner #cart-item {
	padding-left: 55%;
}