// General styling

li {
	list-style: none;
}

// top-header bar style


nav.navbar{
	margin-bottom: 0;
}

nav.navbar-inverse {
	min-height: 10px;
	max-height: 55px;
	margin-bottom: 0;
	background-color: #fff;
	border-color: #cecece;
}

ul.menu-top-header {
	list-style: none;
}

li.mth-item {
	margin-top: 10px;
}

// Carousel 

div.carousel {
	background: #eee;
}

div.item img.carousel-bg {
	max-height: 600px;
	width: 100%;
}

div.carousel-caption {
	position: absolute;
	text-align: left;
}

// Info section style

div.list-group {
	padding: 10px 15px;
}

a.list-group-item {
	margin-bottom: 0;
	margin-left:-15px;
	margin-right: 0;
	padding: 5px 35px;
}

a.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

a#left-radius {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

a#right-radius {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

// Frames

div#prod-frame {
	padding: 0;
}

div.img-frame {
	width: 480px;
	height: 200px;
	padding: 10px 10px 5px 20px;
	background-color: #eee;
}

div.img-frame img {
	float: left;
}